label {
  display: flex;
  gap: var(--s);
  align-items: center;
  margin-bottom: var(--s2);
}
input:not([type='checkbox']) {
  min-width: 0;
  flex: 1;
}

@media (max-width: 440px) {
  label:has(input:not([type='checkbox'])) {
    flex-direction: column;
    align-items: stretch;
  }
}
